apiVersion: v1
kind: Service
metadata:
  name: devops-demo
  labels:
    app: devops-demo
spec:
  type: NodePort
  selector:
    app: devops-demo
  ports:
    - port: 5000
      targetPort: 5000
      nodePort: 30000
